@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    background-color:rgba(26, 11, 46, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
/* navbar style css */
.nav{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: ;
    padding: 16px 200px 16px 200px;
    height: 92px;
    border: 1px solid rgba(0, 0, 0, 1);
}
.logo h2{
width: 219px;
height: 32px;

}
.logo .span-left{
    color: white;

}
.logo .span-right{
    color:rgba(251, 9, 180, 1);
   
}
.menu{
    display: flex;
    gap: 32px;
    color: white;

}
.btn-1{
    padding: 12px 16px;
    border-radius: 20px;
    color: white;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    border: none;
}
.hamburger-menu{
    display: none;
}
/* Banner Section */
#banner-section{
    background-image: url(hero-bg.png);
}
/* About Section  */
#about{
    margin-bottom:120px;
}
.about-container{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 50px  200px;

}
.about-container h2{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.about-container p{
    color: white;
    margin-top: 20px;
    margin-bottom: 80px;
}
.about-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr, 200px);
     max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding:0 200px;
    
}
.about-list h3{
    font-size: 48px;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
}
.about-list p{
    color: white;
}















/* responsive codes */
@media screen and (max-width:576px) {
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .menu{
        display: none;
    }
    .nav h2{
        justify-content: space-between;
      
}
.btn-1{
    display: none;
}
.hamburger-menu{
    display: inline;
}
/* about section */


.about-list{

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr, 200px);
    gap: 20px;
    
    justify-content: center;
    text-align: center;
    align-items: center;
    /* padding:0 200px; */   
}
.about-container h2{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.about-container p{
   margin: 0 auto;
    text-align: center; 
    width: 100%;
   
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    
}